{% extends 'reporte_regions_generic.html' %}

{% block resumen-nacional %}
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 978px;" height="638" src="{{NACIONAL.posit_total_url}}" frameborder="0"></iframe>
</div>
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 978px;" height="638" src="{{NACIONAL.posit_pm_url}}" frameborder="0"></iframe>
</div>
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 978px;" height="638" src="{{NACIONAL.posit_pr_url}}" frameborder="0"></iframe>
</div>
{% endblock resumen-nacional %}

{% block region-detail %}
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; max-width: 407px;" height=351 src="${region.posit_total_url}" frameborder="0"></iframe>
</div>
<div class='col-xl' style='text-align: center;'>
  <iframe style="width: 100%; max-width: 407px;" height=351 src="${region.posit_pm_url}" frameborder="0"></iframe>
</div>
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; max-width: 407px;" height=351 src="${region.posit_pr_url}" frameborder="0"></iframe>
</div>
{% endblock region-detail %}