<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <title>{% block title %}Home{% endblock title %} | OpenCovid-Peru.com</title>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}home/favicon.ico">
        
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% endblock head_meta_viewport %}

            <meta property="og:title" content="{% block og_title %}{% endblock og_title %}" />
            <meta property="og:image" content="{% block og_image %}{% endblock og_image %}" />
            <meta property="og:description" content="{% block og_description%}{% endblock og_description %}"/>
            <meta property="og:url" content="{{ request.build_absolute_uri|slice:":-1" }}" />
            <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
            <meta property="twitter:site" content="@opencovidperu" />
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <!-- CSS only -->
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

                <link href="{{ STATIC_URL }}home/css/base.css" rel="stylesheet" media="screen">
            {% endblock head_css_site %}            
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}

        <!-- Mailchimp poup -->
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/378bf1e4f8566df97d0252120/7ba518068727700f9f9d7517a.js");</script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179517549-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-179517549-1');
        </script>
    </head>

    <body>

        {# Navigation Menu #}
        <nav class="navbar navbar-dark dark-navigation-bar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="{{ STATIC_URL }}home/img/virus_icon.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> OpenCovid-Perú
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>                                    
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for report in reports %}
                      <a class="dropdown-item" href="/reportes/{{report.slug}}">{{report.title}}</a>
                      {% endfor %}                      
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/nacional/">
                      Nacional
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Regiones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for region in regions %}
                      <a class="dropdown-item" href="/regiones/{{region.nombre}}">{{region.nombre}}</a>
                      {% endfor %}                      
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'team_view' %}">Equipo</a>
                  </li>
                </ul>                
              </div>
        </nav>
        
        {# The Document Body #}        
        {% block content %}
        {% endblock content %}
        
        {# The Footer #}
          <footer class="container py-5">
            <div class="row">
              <div class="col-12 col-md">
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>-->
                <img src="{{ STATIC_URL }}home/img/virus_icon.svg" alt="virus icon" height="24" width="24">
                <small class="d-block mb-3 text-muted">&copy; OpenCovid-Peru.com 2020</small>
              </div>
              <div class="col-6 col-md">
                <h5>Reportes</h5>                
                <ul class="list-unstyled text-small">
                  {% for report in reports %}
                  <li><a class="text-muted" href="/reportes/{{report.slug}}">{{report.title}}</a></li>                  
                  {% endfor %}
                </ul>
              </div>              
              <div class="col-6 col-md">
                <h5>Sobre COVID-19</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="https://twitter.com/opencovidperu">Twitter (@OpenCovidPeru)</a></li>
                  <li><a class="text-muted" href="https://www.facebook.com/OpenCovidPeru/">Facebook (OpenCovidPeru)</a></li>
                  <!--<li><a class="text-muted" href="#">Recursos</a></li>-->
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="{% url 'team_view' %}">Equipo</a></li>
                  <li><a class="text-muted" href="https://www.privacypolicies.com/generic/">Privacidad</a></li>
                </ul>              
              </div>
              <div class="col-6 col-md">
                <h5>Mantente Informado</h5>
                <ul class="list-unstyled text-small">
                  <!-- Begin Mailchimp Signup Form -->
                  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup">
                  <form action="https://opencovid-peru.us2.list-manage.com/subscribe/post?u=378bf1e4f8566df97d0252120&amp;id=2799b5109a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                    <!--<label for="mce-EMAIL">Mantente Informado</label>-->
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_378bf1e4f8566df97d0252120_2799b5109a" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Inscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                  </form>
                  </div>

                  <!--End mc_embed_signup-->
                </ul>              
              </div>
            </div>
          </footer>
    
        {# JavaScript files #}
        {% block footer_javascript %}

            {% block footer_javascript_site %}
                <!-- JS, Popper.js, and jQuery -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            {% endblock footer_javascript_site %}
            
            {% block footer_javascript_section %}{% endblock footer_javascript_section %}
            {% block footer_javascript_page %}{% endblock footer_javascript_page %}
        {% endblock footer_javascript %}

    </body>
</html>    