{% extends 'base.html' %}
{% load tz %}
{% load cropping %}

{% load home_tags %}

{% block title %}Home{% endblock title %}

{% block head_css_page %}
<link href="{{ STATIC_URL }}home/css/index.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}home/css/flip.min.css" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block og_title %}OpenCovid-Perú{% endblock og_title %}
{% block og_image %}{{ STATIC_URL }}home/img/opencovid-og-image.jpeg{% endblock og_image %}
{% block og_description%}Reportes independientes de COVID-19 en el Perú (subregistro de muertes, camas UCIs, etc){% endblock og_description %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center opencovid-jumbotron">
      <div class="container">
        <h1 class="opencovid-title">OpenCovid - Perú</h1>
        <p class="opencovid-desc">Somos un grupo de científicos e investigadores que analiza datos oficiales sobre la pandemia para informar al Perú.</p>        
        <p>
          <!--<a href="http://eepurl.com/hgmTsD" class="btn btn-primary my-2">Manténte Informado</a>-->
          <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
        
      </div>
    </section>
    <!-- counter -->

    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="text-center">Fallecidos (MINSA)</div>
          <div class="tick custom-flip" data-value="0" final-value={{SUMMARY.muertes_minsa}} data-did-init="handleTickInit">
            <div data-repeat="true" data-transform="round -> pad({{SUMMARY.muertes_minsa|replace_with_char_padding}}) -> split -> delay(random, 100, 150)">
                <span class="custom-flip" data-view="flip" data-transform="arrive(1, 0.01) -> round -> limit(0,9)"></span>
            </div>
          </div>
          <small class="text-muted">Actualizado: {{SUMMARY.muertes_minsa_fecha_actualizado}}</small>
        </div>      
        <div class="col-md-4 text-center">
          <div class="text-center">Fallecidos (DIRESA)</div>
          <div class="tick custom-flip" data-value="0" final-value={{SUMMARY.muertes}} data-did-init="handleTickInit">
            <div data-repeat="true" data-transform="round -> pad({{SUMMARY.muertes|replace_with_char_padding}}) -> split -> delay(random, 100, 150)">
              <span class="custom-flip" data-view="flip" data-transform="arrive(1, 0.01) -> round -> limit(0,9)"></span>
            </div>
          </div>
          <small class="text-muted">Actualizado: {{SUMMARY.muertes_fecha_actualizado}}</small>
        </div>
        <div class="col-md-4 text-center">
          <div class="text-center">Subregistro Fallecidos (SINADEF)</div>
          <div class="tick custom-flip" data-value="0" final-value={{SUMMARY.muertes_sinadef}} data-did-init="handleTickInit">
            <div data-repeat="true" data-transform="round -> pad({{SUMMARY.muertes_sinadef|replace_with_char_padding}}) -> split -> delay(random, 100, 150)">
                <span class="custom-flip" data-view="flip" data-transform="arrive(1, 0.01) -> round -> limit(0,9)"></span>
            </div>
          </div>
          <small class="text-muted">Actualizado: {{SUMMARY.muertes_sinadef_actualizado}}</small>
        </div>
      </div>
    </div>
    <!-- end counter -->
    <div class="album py-5 bg-light">
      <div class="container">  
        <div class="row">
          {% for report in reports %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="/reportes/{{report.slug}}">
                {% if report.cover_image %}
                <div class="card-img-caption">
                  <div class="card-text-container">
                    <text class="card-text">{{report.title}}</text>
                  </div>
                  <img style="object-fit: cover;" class="card-img-top" src="{% cropped_thumbnail report "cropped_cover_image" height=225 %}" height="225">
                </div>
                {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{report.title}}</text></svg>
                {% endif %}
              </a>
              <div class="card-body">
                <p class="card-text">{{report.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="/reportes/{{report.slug}}">Abrir</a>
                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Abrir</button>-->
                  </div>                  
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Actualización: {{report.updated_at|timezone:"America/Lima"}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
  </main>
{% endblock content %}


{% block footer_javascript_page %}

<script src="{{ STATIC_URL }}home/js/flip.min.js" integrity="sha384-L1WzXJVV4rS/rS+faPTfeiMJrkDbnf5qQrQHUP+7x4en/kQQyMGplcw46ygAbba6" crossorigin="anonymous"></script>
  
{# {{ SUMMARY|json_script:"summary-data" }} #}

<script>
  //var summary_data = JSON.parse(document.getElementById('summary-data').textContent);

  function handleTickInit(tick) {
      // show random numbers initially
      setTimeout(function(){
          tick.value = Math.random() * 9999;
      }, 250);

      // let's show the final value
      setTimeout(function(){        
          tick.value = tick._element.getAttribute("final-value");
      }, 1500);
  }

</script>

{% endblock footer_javascript_page %}